<% title @vm.name %>
<div class='col-md-12'>
  <table class="table table-bordered table-striped">
    <tr><th colspan="2">Properties</th></tr>
    <%= prop :created_time, 'Created Time' %>
    <%= prop :current_price, 'Current Price' %>
    <%= prop :memory, 'memory' %>
  </table>
</div>
