<%#= select_f f, :image, compute_resource.available_servers, :image, :image, {}, {:label => _('')}  %>
<%= line_count f, compute_resource.available_servers  %>

<!--<div id='test'>-->
<%#= @compute_resource.servers_get %>
<!--</div>-->

