<%= number_f f, :cores, :label => _("Cores"), :value => 1 %>
<%= number_f f, :memory, :label => _("Memory in GB"), :value => 2 %>
<%#= text_f f, :ipaddr_uuid, :label => _("u"), :value => '8ba0a0be-757d-400f-a0c8-7e6e35a07006' %>
<div id='network_selection'>
  <%=select_network(f, compute_resource) %>
</div>
<div id='ipv4_selection'>
  <%=select_ipv4(f, compute_resource) %>
</div>
