<div id='ipv4_selection'>
  <%=select_ipv4(f, compute_resource) %>
</div>
<div id='network_selection'>
  <%=select_network(f, compute_resource) %>
</div>
<%#= checkbox_f f, :use_ipv4, {:label => _("Use IPv4"), :label_size => "col-md-2"}, "true", "false" %>
<%#= checkbox_f f, :use_ipv6, {:label => _("Use IPv6"), :label_size => "col-md-2"}, "true", "false" %>
